.neural-network {
    h1 {
        width: 100%;
        color: $text-color;
        font-size: 32px;
    }

    h2 {
        width: 100%;
        color: $text-color;
        font-size: 20px;
        padding-bottom: 100px;
    }

    p {
        width: 100%;
        color: $text-color;
        font-size: 20px;
    }

    .colour-container {
        margin-top: 40px;

        // .colour-names {
        //     width: 8%;
        // }
        .colour-button {
            width: 100%;
            min-height: 30px; 
            margin-bottom: 15px;
            // uncomment this if want no borders around colours
            //border: none;
            // this rounds off the edges
            border-radius: 10px; 
        }
    }
}

.colour-selected-div {
    width: 100%;
    height: 50px;

    h1 {
        font-size: 16px;
        padding-top: 17px;
        padding-left: 20px;
    }
}